/**
 * Cardholders
 */
.cardholder {
	height: 120px;
	width: 80px;
	border: 1px solid black;
	display: inline-block;
	margin: 5px;
	position: relative;
}
.pile {
	background: #aaa;
}
.pile-drop { 
	background: #dec;
}
.pile-div {
	top: -120px;
	margin-right: 100px;
}
.pile-thirteen {
	background: #ecf;
	margin-right: 100px;
}
.other {
	background: #def;
}

.pile-ace {
	background: #ddd;
}
.ace-piles {
	
}

/**
 * Card
 */
.card {
	height: 120px;
	width: 80px;
	border: 1px solid black;
	display: inline-block;
}
